{% comment %}
  {% for block in section.blocks %}
    {% if block.type == 'title' %}
      <h1>{{ article.title }}</h1>
    {% elsif block.type == 'author' %}
      {% if section.settings['author-check'] %}
        <small>{{ article.author }}</small>
      {% endif %}
    {% elsif block.type == 'publish-date' %}
      {% if section.settings['time-check'] %}
        <time datetime="{{ article.published_at | date: '%d-%m-%Y' }}">
          {{- article.published_at | date: '%d-%m-%Y' -}}
        </time>
      {% endif %}
    {% elsif block.type == 'featured-img' %}
      <img src="{{ article.image | img_url:'large' }}" alt="{{ article.image.alt }}">
    {% elsif block.type == 'content' %}
      <div>{{ article.content }}</div>
    {% endif %}
  {% endfor %}
{% endcomment %}
<article class="py-8" itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'title' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center">
            <a href="{{ blog.url }}" class="uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.title }}</a>
            <h1 class=" text-4xl md:text-6xl font-medium " itemprop="headline">{{ article.title | capitalize }}</h1>
          </div>
        </div>

      {% when 'author' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center" itemscope itemtype="http://schema.org/Person">
            {% if section.settings['author-check'] %}
              <small itemprop="author">{{ article.author }}</small>
            {% endif %}
          </div>
        </div>
      {% when 'publish-date' %}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl text-center my-2">
            {% if section.settings['time-check'] %}
              <time datetime="{{ article.published_at | date: '%d-%m-%Y' }}" itemprop="datePublished dateCreated">
                {{ article.published_at | date: format: 'on_date' }}
              </time>
            {% endif %}
          </div>
        </div>
      {% when 'featured-img' %}
        <div
          itemprop="image"
          class="max-w-3/4 w-full h-80 bg-red-100 rounded-lg mx-auto md:mx-auto overflow-hidden my-4 object-cover object-center "
        >
          {% if article.image != blank %}
            <img
              class=" w-full h-80 md:h-120 object-center "
              src="{{ article.image | img_url:'master' }}"
              alt="{{ article.image.alt }}"
            >
          {% else %}
            {% assign placeholder_image = 'lifestyle-2' %}
            {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
          {% endif %}
        </div>
      {% when 'content' %}
        <div class="flex justify-center items-center ">
          <div itemprop="articleBody" class="max-w-3/4 w-full mx-auto text-justify">
            {{ article.content }}
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="my-8">
    {% if article.comments_count > 0 %}
      <div class="flex-1 items-center justify-center mx-auto max-w-4xl px-4">
        <h1 class="text-lg mb-4 font-medium">See what people are saying</h1>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="flex-1 border px-4 py-c my-4 sm:px-6 sm:py-4 leading-relaxed">
              <span class="comment-author">{{ comment.author }}</span>
              <span class="text-xs text-gray-400">{{ comment.created_at | date: format: 'default' }}</span>
              <p class="text-sm">{{ comment.content }}</p>
            </div>
          {% endfor %}
          <div class="max-w-6xl mx-auto">
            {% render 'pagination', pagination: paginate %}
          </div>
        {% endpaginate %}
      </div>
    {% else %}
      <div class="flex-1 items-center justify-center max-w-4xl border mx-auto">
        <div class="m-3 font-medium">There are no comments in this article yet</div>
      </div>
    {% endif %}
  </div>

  <div id="comments_form" class="mb-8">
    {% form 'new_comment', article %}
      <div class="flex-1 mx-auto items-center justify center max-w-4xl px-4">
        {% if form.errors %}
          <div class="border p-5">
            <div class="flex flex-row items-center w-full my-3">
              <div class="text-red-600">
                {% render 'icon-failed' %}
              </div>
              <div class="text-sm font-medium ml-3">oh no! Your comment is not posted</div>
            </div>
            <ul class="px-4 mb-3 ml-7 list-decimal">
              {% for error in form.errors %}
                <li>
                  <span>{{ form.errors.messages[error] }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% elsif form.posted_successfully? %}
          <div class="flex flex-row items-center w-full my-3">
            <div class="text-green-600">
              {% render 'icon-success' %}
            </div>
            <div class="text-sm font-medium ml-3">Your comment is posted successfully</div>
          </div>
        {% endif %}
        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-1/2">
            <label for="comment_author" class="text-gray-700 font-medium uppercase text-xs mb-2">Name</label>
            <input
              type="text"
              name="comment[author]"
              id="comment_author"
              class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none"
              placeholder="Jane Doe"
              required
            >
          </div>
          <div class="px-3 md:w-1/2">
            <label for="comment_email" class="text-gray-700 font-medium uppercase text-xs mb-2">E-mail</label>
            <input
              type="email"
              name="comment[email]"
              id="comment_email"
              class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none"
              placeholder="Jane_Doe123@gmail.com"
              required
            >
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-full">
            <label for="comment_body" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
            <textarea
              name="comment[body]"
              id="comment_body"
              class="w-full h-30 text-gray-700 border py-3 px-4 mb-3 focus:outline-none resize-none"
              placeholder="Write your comment here"
              required
            ></textarea>
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-full">
            <input
              type="submit"
              class="w-full cursor-ponter px-4 py-2 border text-white font-medium bg-red-400 hover:bg-red-300"
              value="Post a comment"
            >
          </div>
        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

<script type="application/ld+json">
  {
    "@context":"http://schema.org",
    "@type":"BlopPosting",
    "headline":{{ article.title | json }},
    "articleBody":{{ article.content |strip_html |json }},
    {% if article.excerpt != blank %}
      "description":{{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image":[
        {{ article.image | image_url:"medium" | prepend: "https://"  }}
      ],
    {% endif %}
    "datePublished":{{ article.published_at | date: format: 'default' | json}}
    "dateCreated":{{ article.created_at | date: format: 'default' | json}}
    "author":{
      "@type":"Person",
      "name":{{ article.author | json }}
    },
    "publisher":{
      "@type":"Organization",
      "name":{{ shop.name | json }}}

  }
</script>

{% schema %}
{
  "name": "Article Template",
  "settings": [
    {
      "type": "checkbox",
      "id": "author-check",
      "label": "Show Author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "time-check",
      "label": "Show Publish Time",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Article Title",
      "limit": 1
    },
    {
      "type": "author",
      "name": "Article Author",
      "limit": 1
    },
    {
      "type": "publish-date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "featured-img",
      "name": "Featured Image",
      "limit": 3
    },
    {
      "type": "content",
      "name": "Article Content",
      "limit": 1
    }
  ]
}
{% endschema %}
